<div class="ui vertical inverted masthead center aligned segment">
    <br><br><br>
    <h1 class="opener">Oh no! <br><i class="frown outline icon"></i></h1>
    <h2>{{error.status}} {{message}}</h2>
</div>