<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <h2 class="opener">Welcome to the realm of</h2>
            <h1>
                Henry O'Brien
            </h1>
            <h3>Software engineering student,</h3>
            <h3> 2020 Gradlassian,</h3>
            <h3>and pun-slinging tutor </h3>
            <br>
            <a class="ui huge primary button" href="/about">Enter the realm<i class="right arrow icon"></i></a>
        </div>
    </div>
</div>
