@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "GrandHotel";
    src: url("../fonts/GrandHotel-Regular.ttf");
}

@font-face {
    font-family: "Luna";
    src: url("../fonts/Luna.ttf");
}

body {
    background-color: #1a1a1d !important;
    color: white !important;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 20pt !important;
}

li {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 20pt !important;
}

.ui.message {
    font-family: Roboto, sans-serif !important;
    font-size: 16px !important;
}

.ui.message.error {
    background-color: #fad9e3 !important;
}

.ui.message.success {
    background-color: #a8ffd7 !important;
}

.ui.buttons {
    margin: 0 10px !important;
}

.ui.button.primary {
    background-color: mediumspringgreen !important;
    color: #1a1a1d !important;
}

.ui.button.primary.huge {
    margin: 10px !important;
}

.ui.button.secondary {
    background-color: #FA0060 !important;
    color: white !important;
}

/* MASTHEAD */

.masthead.segment {
    min-height: 100vh;
    padding: 1em 0em;
    background-color: mediumspringgreen !important;
    color: #1a1a1d !important;
}

.masthead.segment.inverted {
    background-color: #1a1a1d !important;
    color: #FA0060 !important;
}

.masthead h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 80px;
    font-weight: normal;
    font-family: Luna, sans-serif;
}

.masthead h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: Luna, sans-serif;
}

.masthead h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    font-family: Luna, sans-serif;
}

.masthead .opener {
    margin-top: 20vh;
}

/* BODY */

.container.main {
    padding-top: 15vh !important;
    padding-bottom: 5vh !important;
}

.container.main.small {
    padding-top: 5vh !important;
}

.masthead .button {
    background-color: #005c35 !important;
    color: white !important;
}

.masthead .button:hover {
    background-color: #007243 !important;
}

.menu {
    background-color: #d9d9dd !important;
}

.menu .item {
    opacity: 0.8 !important;
}

.menu .item.title {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 25px;
    font-family: GrandHotel, sans-serif;
}

.menu .item.icon {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 25px;
}

.fancy {
    font-family: Luna, sans-serif;
    color: mediumspringgreen;
}

.image.bordered {
    border: solid mediumspringgreen 10px !important;
    padding: 5px;
}

.array input {
    width: 50px !important;
    height: 40px !important;
    text-align: center;
    border-radius: 0 !important;
}

.array .field {
    padding: 0px !important;
}

.array .ui.button {
    height: 40px !important;
    text-align: center !important;
}

.card {
    color: #1a1a1d;
    padding: 20px;
    margin: 20px 0px;
}

#graphzone {
    text-align: center;
}

.ui.overflow {
    overflow-y: auto !important;
    white-space: nowrap !important;
    padding: 0 10px;
    margin-bottom: 10px;
}